
@{
    ViewBag.Title = "YeniMehsul";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="=form form-group">
    <div>
        <label>Məhsul Adı</label>
        <input type="text" name="MEHSULAD" class="form-control" />
    </div>
    <div>
        <label>Marka</label>
        <input type="text" name="MARKA" class="form-control" />
    </div>
    <div>
        <label>Məhsul Kateqoriyası</label>
        <input type="text" name="MEHSULKATEQORIYA" class="form-control" />
    </div>
    <div>
        <label>Qiymət</label>
        <input type="text" name="QIYMET" class="form-control" />
    </div>
    <div>
        <label>Stok sayı</label>
        <input type="text" name="STOK" class="form-control" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Məhsul Əlavə Et</button>
    </div>
</form>

