@using Stock_MVC.Models.Entity
@model List<TBL_MUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>SİL</th>
        <th>GÜNCƏLLƏ</th>
        <th>ALERT</th>
    </tr>

    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <th>@customer.MUSTERIID</th>
                <td>@customer.MUSTERIAD</td>
                <td>@customer.MUSTERISOYAD</td>
                <td><a href="/Customer/SIL/@customer.MUSTERIID" class="btn btn-danger">SİL</a></td>
                <td><a href="/Customer/MusteriGetir/@customer.MUSTERIID" class="btn btn-success">GÜNCƏLLƏ</a></td>
                <td>@Html.ActionLink("SIL Button", "SIL", new { id=customer.MUSTERIID }, new { @class = "btn btn-warning", onclick = "return confirm('Silmək istədiyinizə əminsiniz?')" })</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Customer/YeniMusteri/" class="btn btn-primary">YENİ MÜŞTƏRİ ƏLAVƏ ET</a>

