
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="=form form-group">
    <div>
        <label>Müştəri Adı</label>
        <input type="text" name="MUSTERIAD" class="form-control" />
    </div>
    <div>
        <label>Müştəri Soyadı</label>
        <input type="text" name="MUSTERISOYAD" class="form-control" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Müştəri Əlavə Et</button>
    </div>
</form>

