@model Stock_MVC.Models.Entity.TBL_MUSTERILER
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="=form form-group">
    <div>
        <label>Müştəri Adı</label>
        @Html.TextBoxFor(m => m.MUSTERIID, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MUSTERIAD, "", new { @style = "color:red" })
    </div>
    <div>
        <label>Müştəri Soyadı</label>
        <input type="text" name="MUSTERISOYAD" class="form-control" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Müştəri Əlavə Et</button>
    </div>
    <script>
        $('#btn1').click( () => {
            alert('Müştəri Əlavə Olundu');
        })
    </script>
</form>

