@using Stock_MVC.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBL_KATEQORIYALAR> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>KATEQORİYA ID</th>
        <th>KATEQORİYA AD</th>
        <th>SİL</th>
        <th>GÜNCƏLLƏ</th>
    </tr>

    <tbody>
        @foreach (var ktgr in Model) 
        {
        <tr>
            <th>@ktgr.KATEQORIYAID</th>
            <td>@ktgr.KATEQORIYAAD</td>
            <td><a href="/Category/SIL/@ktgr.KATEQORIYAID" class="btn btn-danger">SİL</a></td>
            <td><a href="/Category/KateqoriyaGetir/@ktgr.KATEQORIYAID" class="btn btn-success">GÜNCƏLLƏ</a></td>
        </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model, sehife => Url.Action("Index", new { sehife }));

<a href="/Category/YeniKateqoriya/" class="btn btn-primary">YENİ KATEQORİYA ƏLAVƏ ET</a>


