
@{
    ViewBag.Title = "YeniKateqoriya";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Kateqoriya Adı</label>
        <input type="text" class="form-control" name="KATEQORIYAAD" value="" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Kateqoriya Əlavə Et</button>
    </div>
</form>

