@model Stock_MVC.Models.Entity.TBL_SATISLAR
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Model1">
    Satış
</button>
<div class="modal" id="Model1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Satış Ekranı</h2>
            </div>
            <form method="post" action="/Sales/YeniSatis">
                <div class="modal-body">
                    <label>Məhsul Adı</label>
                    @Html.TextBoxFor(m => m.MEHSUL, new { @class = "form-control" })
                    <br />
                    <label>Məhsul Markası</label>
                    @Html.TextBoxFor(m => m.MUSTERI, new { @class = "form-control" })
                    <label>Məhsul Sayı</label>
                    @Html.TextBoxFor(m => m.EDED, new { @class = "form-control" })
                    <label>Qiymət</label>
                    @Html.TextBoxFor(m => m.QIYMET, new { @class = "form-control" })
                    <br />
                    <button type="submit" class=" btn btn-info">Satış Et </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Geri Get</button>
                </div>
            </form>
        </div>
    </div>
</div>
